*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    text-align: center;
}

.back{
    height: 5rem;
    width: 5rem;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    background-color: black;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover{
    cursor: pointer;
}

.gallery-cont{
    background-color: lightcyan;
    height: 100vh;
    width: 100vw;
}