.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner-card{
  width: 100vw;
  margin-top: 1vh;
  height: 70vh;
  color: rgb(253, 251, 251);
  /* background-color: yellowgreen; */
  position: relative;
}

.banner-img{
  width: 100vw;
  height: 70vh;
}

.banner-title{
  position: absolute;
  top: 45vh;
  /* color: #/282c34; */
}

.banner-desc{
  position: absolute;
  top:50vh;
  height: 4.5rem;
  overflow: hidden;
}

.movies-list{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.movies-card{
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:400px){
  .banner-card{
    height: 30vh;
  }
  .banner-img{
    height: 30vh;
  }
  .banner-title{
    top: 12vh;
  }
  .banner-desc{
    top: 15vh; 
  }
}