.navbar>nav{
    display: flex;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

img[src="/website/images/lap.jpeg"]{
    height:800px;
    width: 1400px;
}

.container{
    display: flex;
}

.footer{
    height: 80px;
    background-color: black;
    color: white;
}


.footer>p{
    font-size: 25px;
}

